
permissions:
  contents: write


on:  
# Allows to run this workflow manually from the GitHub actions tab
  workflow_dispatch:
  workflow_call:

jobs:
  update_version:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}
        token: ${{ secrets.T8DDY_TOKEN }}
        fetch-depth: 0
    - name: Get current branch name
      id: get_branch
      run: echo "branch_name=${GITHUB_HEAD_REF}" >> $GITHUB_ENV
    - name: Check for major tag
      if: contains(github.event.pull_request.labels.*.name, 'major-release')
      run: ./scripts/update_version.scp MAJOR ${GITHUB_HEAD_REF}
    - name: Check for minor tag
      if: contains(github.event.pull_request.labels.*.name, 'minor-release')
      run: ./scripts/update_version.scp MINOR ${GITHUB_HEAD_REF}
    - name: Check for patch tag
      if: contains(github.event.pull_request.labels.*.name, 'patch-release')
      run: ./scripts/update_version.scp PATCH ${GITHUB_HEAD_REF}